*.html linguist-language=Vue
*.min.js linguist-language=Typescript
*.js linguist-language=Rust
*.css linguist-language=Vue
*.toml linguist-language=Rust
*.xml linguist-language=Vue
*.json linguist-language=Vue

